<script lang="ts">
import Vue from 'vue';
import { IsMobileMixin } from '../../mixins';

export default Vue.extend({
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      default: null,
      required: false,
    },
  },
});
</script>

<template>
  <SlpContainer class="teamops">
    <SlpRow>
      <SlpColumn class="teamops__info" :cols="5">
        <nuxt-img
          class="teamops__logo"
          :src="data.header_img"
          alt="teamops logo"
          loading="lazy"
        />
        <SlpTypography tag="h3" variant="heading3-bold" class="teamops__title">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography tag="p" variant="body1">
          {{ data.description }}
        </SlpTypography>
        <SlpContainer class="teamops__info-links">
          <SlpButton
            variant="secondary"
            class="teamops__button"
            :data-ga-name="data.button.data_ga_name"
            :data-ga-location="data.button.data_ga_location"
            :href="data.button.link"
            >{{ data.button.text }}
          </SlpButton>
          <SlpButton
            variant="tertiary"
            class="teamops__link"
            :data-ga-name="data.link.data_ga_name"
            :data-ga-location="data.link.data_ga_location"
            :href="data.link.link"
            >{{ data.link.text }}
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              hex-color="#FFFFFF"
            />
          </SlpButton>
        </SlpContainer>
      </SlpColumn>
      <SlpColumn :cols="7" class="teamops__image-container">
        <nuxt-img
          v-if="isMobile"
          class="teamops__image-mobile"
          :src="data.mobile_img"
          alt="teamops logo"
        />
        <nuxt-img
          v-else
          class="teamops__image"
          :src="data.image"
          :alt="data.image_alt"
        />
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style scoped lang="scss">
.teamops {
  margin-top: $spacing-96;
  margin-bottom: $spacing-96;
  color: $color-text-50;
  border: 1px solid $color-primary-100;
  border-radius: 0 0 100px 0;
  display: block;
  overflow: hidden;

  &__title {
    max-width: 300px;
    margin: $spacing-24 0;
  }

  &__info {
    background: #6d33cc;
    padding: $spacing-32;
    display: flex;
    flex-direction: column;

    &-links {
      display: flex;
      flex-direction: column;
    }
  }

  &__image-container {
    position: relative;
  }

  &__image {
    position: absolute;
    right: -1px;
    height: 100%;
  }

  &__button {
    margin: $spacing-32 0 $spacing-16 0;
    max-width: 273px;
  }

  &__link {
    color: $color-text-50;

    &:hover {
      text-decoration-color: $color-text-50;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .teamops__image {
      right: 0px;
      left: -250px;
      height: 100%;
      max-width: 350%;
    }
  }
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    .teamops__image-mobile {
      margin-top: 25%;
    }
  }

  @media (max-width: $breakpoint-md) {
    border: none;
    &__image-container {
      width: 100%;
    }

    .teamops__info-links {
      padding: 0px;
    }
    .teamops__button {
      max-width: 100%;
    }

    .teamops__image-mobile {
      width: 100%;
      border: 1px solid $color-primary-100;
      border-radius: 0 0 100px 0;
      border-top: none;
      padding: $spacing-32;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .teamops__link {
      justify-content: center;
    }

    .teamops__button {
      justify-content: center;
    }
  }
}
</style>
