<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NextStepAlt',
  props: {
    variant: {
      type: Number,
      required: false,
      default: 1,
    },
    disableAnimations: {
      type: Boolean,
      required: false,
      default: false,
    },
    currentLocale: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      content: null,
    };
  },
  async fetch() {
    const content = (await this.$content(
      this.currentLocale
        ? `${this.currentLocale}/next-step-alt`
        : `/next-step-alt`,
    ).fetch()) as any;
    this.content = content;
  },
});
</script>

<i18n src="../../content/next-step-alt.yml" lang="yaml"></i18n>

<template>
  <section class="next-step-alt">
    <SlpContainer>
      <div class="next-step-alt__container">
        <SlpRow>
          <SlpColumn :col="5">
            <div class="next-step-alt__header slp-mb-8">
              <SlpTypography variant="heading3-bold" tag="h2">
                {{ content.header }}
              </SlpTypography>
            </div>
            <SlpTypography variant="heading5" tag="p" class="slp-mb-16">
              {{ content.blurb }}
            </SlpTypography>
            <SlpButton
              variant="secondary"
              :href="content.button.href"
              :data-ga-name="content.button.data_ga_name"
              data-ga-location="next step"
              class="next-step-alt__main-button"
            >
              {{ content.button.text }}
            </SlpButton>
          </SlpColumn>
          <SlpColumn :col="7">
            <div class="next-step-alt__col-wrapper">
              <div
                v-for="(cta, index) in content.cta_group"
                :key="index"
                class="next-step-alt__col-cta"
              >
                <SlpIcon
                  :icon="`${cta.icon.name}`"
                  size="md"
                  :alt="cta.icon.alt"
                  class="slp-mb-md-24"
                />
                <SlpTypography variant="body2" tag="p" class="slp-mt-16">
                  {{ cta.blurb }}
                </SlpTypography>
                <SlpButton
                  variant="tertiary"
                  class="next-step-alt__button slp-mt-16"
                  :href="cta.button.href"
                  :data_ga_name="cta.button.data_ga_name"
                  data_ga_location="next step"
                >
                  {{ cta.button.text }}
                  <SlpIcon
                    icon="gl-chevron-lg-right"
                    alt="Chevron Right Icon"
                  />
                </SlpButton>
              </div>
            </div>
          </SlpColumn>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.next-step-alt {
  background: $color-surface-700;
  color: $color-primary-300;
  padding-bottom: $spacing-32;

  &__container {
    background: $color-surface-700;
    border-radius: 12px;
    border: 1px solid $color-surface-600;
    padding: $spacing-32 $spacing-24;
    position: relative;
    margin-top: -$spacing-96;
    @media (min-width: $breakpoint-sm) {
      padding: $spacing-64;
    }
    @media (min-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
  &__col-wrapper {
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: row;
      gap: $spacing-16;
    }
  }
  &__col-cta {
    flex: 1 0 50%;
    margin-top: $spacing-32;
    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
  &__button {
    width: 95%;
    color: $color-primary-300;
    display: inline-block;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
    :deep .slp-icon {
      display: inline-block;
      position: relative;
      div {
        position: absolute;
        top: 2px;
      }
    }

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
  &__header {
    max-width: 480px;
    background: linear-gradient(
      89.95deg,
      #feb484 3.13%,
      #a686f2 66.86%,
      #592ac8 123.2%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__main-button {
    width: 100%;
    justify-content: center;
    @media (min-width: $breakpoint-sm) {
      width: auto;
    }
  }
}
</style>
