<script lang="ts">
import Tree from './side-navigation-dropdown-tree.vue';

export default {
  components: {
    Tree,
  },
  props: {
    links: {
      required: true,
      type: Array,
    },
    button: {
      required: false,
      type: Object,
      default: null,
    },
    header: {
      required: false,
      type: String,
      default: 'On this page',
    },
  },
  data() {
    return {
      isMenuOpen: false,
    };
  },
  mounted() {
    document.addEventListener('click', this.handleOutsideClick);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.handleOutsideClick);
  },
  methods: {
    navigateToAnchor(event) {
      const hash = event.target.value;
      this.$router.push({ hash });
    },
    toggleList() {
      this.isMenuOpen = !this.isMenuOpen;
    },
    handleOutsideClick(event) {
      const dropdownElement = this.$refs.dropdown;
      if (!dropdownElement.contains(event.target)) {
        this.isMenuOpen = false;
      }
    },
  },
};
</script>

<template>
  <div ref="dropdown" class="dropdown" :class="{ hide: isMenuOpen == false }">
    <div class="dropdown__button" @click="toggleList()">
      <span>Jump to a section</span>
      <SlpIcon
        variant="product"
        :name="isMenuOpen ? 'chevron-lg-up' : 'chevron-lg-down'"
      />
    </div>
    <div class="dropdown__list" @click="toggleList()">
      <div class="nav-heading">{{ header }}</div>
      <Tree mobile :nodes="links" @click="toggleList()" />
      <div v-if="button" class="slp-mt-16">
        <SlpButton
          variant="primary"
          class="dropdown__link"
          :href="button.url"
          >{{ button.text }}</SlpButton
        >
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.dropdown {
  background-color: $color-surface-50;
  position: sticky;
  left: 0;
  right: 0;
  top: 132px;
  z-index: 100;
  width: 100%;
  border-radius: $border-radius-4;

  &.hide {
    .dropdown__button {
      border-radius: $border-radius-4 !important;
    }

    .dropdown__list {
      display: none;
    }
  }

  .nav-heading {
    font-size: 12px;
    margin-bottom: $spacing-8;
    padding: 0px $spacing-16;
    font-weight: $font-weight-bold;
  }

  &__button {
    border: $border !important;
    color: $color-text-200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $spacing-8 $spacing-16;
  }

  &__list {
    max-height: 70vh;
    overflow-y: scroll;
    border: $border;
    border-top: none;
    border-radius: 0px 0px $border-radius-4 $border-radius-4;
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    padding: $spacing-16 $spacing-8;
    background-color: $color-surface-50;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
</style>
