<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import {
  SummitCarousel,
  SummitCopy,
  SummitHero,
} from '../../components/events/index.vue';
import { Faq } from '../../components/common/index.vue';

export default Vue.extend({
  components: {
    Faq,
    SummitCarousel,
    SummitCopy,
    SummitHero,
  },
  layout: 'summit-navigation',
  nuxtI18n: false,
  async asyncData({ $content, params }: any) {
    const content = await $content(
      'events/summit-las-vegas',
      params.slug,
    ).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div class="summit_page">
    <SummitHero :data="content.hero" />
    <SummitCopy :data="content.overview" />
    <SummitCarousel :data="content.carousel.data" />
    <section :id="content.faq.id" class="slp-bg-surface-800">
      <Faq :data="content.faq" :has-jump-down="false" />
    </section>
    <SummitCopy :data="content.questions" />
  </div>
</template>

<style scoped lang="scss">
.summit_page {
  overflow-x: hidden;
  position: relative;
}
</style>
