<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    animationDelay: {
      type: Number,
      required: false,
      default: 0,
    },
    scale: {
      type: Number,
      required: false,
      default: 1,
    },
  },
});
</script>

<template>
  <svg
    width="57"
    height="57"
    viewBox="0 0 57 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :style="{ transform: `scale(${scale})` }"
  >
    <path
      d="M28.4999 22.7266L28.4999 -5.63611e-05"
      class="animated-1"
      :class="`delay-${animationDelay}`"
      stroke="url(#paint0_linear_262_4963)"
      stroke-width="0.450965"
    />
    <path
      class="animated-2"
      :class="`delay-${animationDelay}`"
      d="M28.4999 57.0001L28.4999 34.2734"
      stroke="url(#paint1_linear_262_4963)"
      stroke-width="0.450965"
    />
    <path
      d="M34.2733 27.9648L56.9999 27.9648"
      stroke="url(#paint2_linear_262_4963)"
      stroke-width="0.450965"
      class="animated-1"
      :class="`delay-${animationDelay}`"
    />
    <path
      d="M-5.34876e-05 27.9648L22.7266 27.9648"
      stroke="url(#paint3_linear_262_4963)"
      class="animated-2"
      :class="`delay-${animationDelay}`"
      stroke-width="0.450965"
    />
    <defs>
      <linearGradient
        id="paint0_linear_262_4963"
        x1="28.4746"
        y1="22.7519"
        x2="28.4746"
        y2="-0.0253644"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#7759C2" />
        <stop offset="1" stop-color="#FCA326" />
      </linearGradient>
      <linearGradient
        id="paint1_linear_262_4963"
        x1="28.4746"
        y1="57.0254"
        x2="28.4746"
        y2="34.2481"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#7759C2" />
        <stop offset="1" stop-color="#FCA326" />
      </linearGradient>
      <linearGradient
        id="paint2_linear_262_4963"
        x1="34.248"
        y1="27.9395"
        x2="57.0252"
        y2="27.9395"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#7759C2" />
        <stop offset="1" stop-color="#FCA326" />
      </linearGradient>
      <linearGradient
        id="paint3_linear_262_4963"
        x1="-0.0253608"
        y1="27.9395"
        x2="22.7519"
        y2="27.9395"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#7759C2" />
        <stop offset="1" stop-color="#FCA326" />
      </linearGradient>
    </defs>
  </svg>
</template>

<style lang="scss" scoped>
svg {
  path {
    stroke-dasharray: 25;
  }
  .animated-1 {
    stroke-dashoffset: 25;
    animation: dash-reverse 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  .animated-2 {
    stroke-dashoffset: 25;
    animation: dash 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  .delay-1 {
    animation-delay: -1.2s;
  }
  .delay-2 {
    animation-delay: -2.3s;
  }
  .delay-3 {
    animation-delay: -3.5s;
  }
  .delay-4 {
    animation-delay: -4.7s;
  }
  .delay-5 {
    animation-delay: -5.2s;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: -25;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 25;
  }
}
@keyframes dash-reverse {
  0% {
    stroke-dashoffset: 25;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -25;
  }
}
</style>
