<script>
import Vue from 'vue';
import { IsMobileMixin } from '../../mixins';

export default Vue.extend({
  name: 'SolutionsResourceCarousel',
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      cards: [...this.data.cards.map((_, index) => index)],
      currentIndex: 0,
      translateValue: 0,
      cardWidth: 300,
      activeIndex: 0,
    };
  },
  mounted() {
    this.initIntersectionObserver();
  },
  methods: {
    prevSlide() {
      if (this.currentIndex > 0) {
        this.currentIndex--;
        this.translateValue += this.cardWidth;
      }
    },
    nextSlide() {
      if (this.currentIndex < this.cards.length - 1) {
        this.currentIndex++;
        this.translateValue -= this.cardWidth;
      }
    },
    goToSlide(index) {
      this.currentIndex = index;
      this.translateValue = -index * this.cardWidth;
    },
    initIntersectionObserver() {
      const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5,
      };
      const callback = (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const index = this.$refs.carouselItems.indexOf(entry.target);
            if (index !== -1) {
              this.activeIndex = index;
            }
          }
        });
      };
      const observer = new IntersectionObserver(callback, options);
      this.$refs.carouselItems.forEach((item) => {
        observer.observe(item);
      });
    },
    isActiveItem(index) {
      return index === this.activeIndex;
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-mt-lg-96 slp-mb-160">
    <SlpColumn>
      <SlpTypography tag="h2" variant="heading2-bold">
        {{ data.title }}</SlpTypography
      >
      <div class="solutions-resource-carousel">
        <div class="solutions-resource-carousel-mask">
          <div
            class="carousel-inner-section"
            :style="{
              transform: `translateX(${translateValue}px)`,
            }"
          >
            <div
              v-for="(card, index) in data.cards"
              :key="index"
              ref="carouselItems"
              :cols="data.column_size"
              class="slp-mb-md-48 card"
              :class="{ active: isMobile && isActiveItem(index) }"
              size="lg"
            >
              <a
                :href="card.href"
                class="resources-block"
                :data-ga-name="card.data_ga_name"
                :data-ga-location="card.data_ga_location"
                :data-aos="card.aos_animation"
                :data-aos-duration="card.aos_duration"
              >
                <div class="resources-block__wrapper">
                  <div class="resources-block__content-top">
                    <div class="resources-block__icon slp-flex">
                      <SlpIcon
                        v-if="card.icon && !card.icon.use_local_icon"
                        :name="card.icon.name"
                        :variant="card.icon.variant"
                        :alt="card.icon.alt"
                        slp-color="text-300"
                      />
                      <nuxt-img
                        v-else-if="card.icon"
                        :src="card.icon.name"
                        :alt="card.icon.alt"
                        loading="lazy"
                      />
                      <SlpTypography
                        tag="p"
                        variant="body2"
                        class="resources-block__type"
                        >{{ card.event_type }}
                      </SlpTypography>
                    </div>
                    <nuxt-img
                      class="resources-block__image slp-my-24"
                      :src="
                        card.image ||
                        card.fallback_image ||
                        '/nuxt-images/resources/fallback/img-fallback-cards-infinity.png'
                      "
                      alt=""
                      loading="lazy"
                    />
                    <SlpTypography tag="h3" variant="heading5-bold"
                      >{{ card.header }}
                    </SlpTypography>
                  </div>
                  <div class="resources-block__content-bottom">
                    <SlpTypography
                      variant="body2-bold"
                      tag="span"
                      class="resources-block__link"
                      >{{ card.link_text }}
                      <SlpIcon
                        class="slp-ml-8"
                        variant="product"
                        name="chevron-lg-right"
                      />
                    </SlpTypography>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="controls">
          <div class="dots">
            <button class="control-btn prev" @click="prevSlide">
              <SlpIcon
                class="slp-ml-8"
                variant="product"
                name="chevron-lg-left"
              />
            </button>
            <span
              v-for="index in cards"
              :key="index"
              :class="{
                activedot: isMobile
                  ? activeIndex === index
                  : currentIndex === index,
              }"
              class="dot"
              @click="goToSlide(index)"
            ></span>
            <button class="control-btn next" @click="nextSlide">
              <SlpIcon
                class="slp-ml-8"
                variant="product"
                name="chevron-lg-right"
                width="20px"
              />
            </button>
          </div>
        </div>
      </div>
    </SlpColumn>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.solutions-resource-carousel {
  position: relative;

  .carousel-inner-section {
    width: max-content;
    transition: transform 0.3s ease-in-out;
  }
  .card {
    width: 300px;
    float: left;
    height: 480px;
    scroll-snap-align: start;
  }
  .controls {
    top: 50%;
    transform: translateY(-50%);
  }
  .control-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    vertical-align: sub;
  }
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-surface-300;
    margin: 0 $spacing-8;
    cursor: pointer;
  }
  .dot.activedot {
    background-color: $color-surface-700;
  }

  .solutions-resource-carousel-mask {
    width: 900px;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: $breakpoint-md) {
      width: 300px;
      overflow: scroll;
      scroll-snap-type: x mandatory;
    }
  }
}

.resources-block {
  cursor: pointer;
  display: flex;
  position: relative;
  height: 100%;
  min-width: 300px;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-16 $spacing-16 $spacing-16 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    padding: $spacing-32 $spacing-16;
    flex: 1;

    &:hover {
      background: $color-surface-900;
      border-bottom-right-radius: 100px;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &.grouped {
      justify-content: center;
    }
  }

  &__line {
    border-top: 2px solid $color-surface-400;

    &.slp-hr {
      margin: $spacing-32 0;
    }
  }

  &__image {
    width: 100%;
    max-height: 200px;
    max-width: 318px;
    height: 200px;
    object-fit: cover;
  }

  &__link {
    color: $color-text-300;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  &__type {
    margin-left: $spacing-8;
  }

  &__content-text {
    color: $color-text-300;
  }

  &__content-top {
    p,
    h3 {
      color: $color-text-300;
    }
  }

  &__icon {
    .resources-block__image {
      max-width: 1rem;
    }
    img {
      width: $spacing-16;
      height: $spacing-16;
    }
  }
  &__button {
    @media (min-width: $breakpoint-md) {
      margin-left: auto;
      min-width: fit-content;
      margin-left: 20%;
    }
  }
}
</style>
